.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .btn-salmon {
        background-color: #EC6476; 
        border-color: #EC6476;
        color: white; 
      }


  
      