.container {
    margin-top: 20px;
  }
  
  .google-map {
    margin-top: 20px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  .form-check-input{
    color: #EC6476;
  }

  .form-check-input:checked {
    background-color: #EC6476;
    border-color: #EC6476;
}