.container {
    margin-top: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .btn-rosado {
    background-color: #EC6476;
    border-color: #EC6476;
    color: white;
  }
  
  .btn-rosado:hover {
    background-color: #d55b66;
    border-color: #d55b66;
    color: white;
  }
  
  .sidebar {
    background-color: #EC6476;
    color: white;
    min-height: 100vh;
    
  }
  
  .nav-link:hover {
    background-color: #d55b66;
    color: white;
  }
  
  
  